<!doctype html>
<html lang='en'>

<head>
    <title>Project 1</title>
    <meta charset='utf-8'>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
    <link rel="stylesheet" href="style.css">

    <script src='script.js' defer></script>
</head>

<body>
    <h2>
        Mystery Word Game
    </h2>
    <div id="app" v-cloak>
        <img src="mysticball.jpg" width="300" height="400">

        <div v-if='gameMode == "start"'>
            <label for='name'>Enter your name:</label>
            <input type='text' id='name' v-model='name' @keyup.enter='startGame'>
            <button id='name' @click='startGame'>Start Game!</button>
        </div>
        <div v-if='gameMode == "play"'>

            <p>Welcome to Mystery Word, {{ name }}!</p>

            <p id="rule"> Enter any letter to guess the word</p>
            <p id="rule"> If you guess the word correctly, you win!</p>

            <p id="rule">Your mystery word length is: <span class='mysteryWord'>{{ wordLength }}</span></p>
            <p id="rule">Hint: <em>{{ wordHint }}</em></p>

            <label for='userGuess'>Your guess: </label>
            <input type='text' id='userGuess' v-model.trim='userGuess'>
            <button id='userGuess' @click='submitUserGuess' @keyup.enter='submitUserGuess'>Submit guess</button>

            <div class="container">
                <div id="rule" class="box">Score:
                    <ul>
                        <p>Player Score: {{playerScore}}</p>
                        <p>Computer Score: {{compScore}} </p>
                    </ul>
                </div>
                <div id="rule" class="box">History of game:
                    <round-detail v-for='round in rounds' v-bind:key='round.number' v-bind:round='round'></round-detail>
                </div>
            </div>
            <div class="boxReset"><button @click='resetRound'>Reset Scores</button></div>

        </div>


        <div v-if='feedback' class='feedback' :class="{ pass : correct, fail: !correct }">
            <div v-if='correct'>
                <div v-bind:style="styleObjectWin">Correct! </div><button class="buttonPlay" @click='loadGame'>Play
                    again</button>
            </div>
            <div v-else>
                <div v-bind:style="styleObjectLose">WHOOPS! That's incorrect. Play again.</div><button
                    class="buttonPlay" @click='loadGame'>Play again</button>
            </div>
        </div>
    </div>
</body>

</html>