body {
    
    background-color: #cc99ff;
    padding: 70px 0;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 50px;
    text-align: center;
   }

#rule {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;

}

#name {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;

}


.container {
    width: 100%;
    height: auto;

    /*add flexbox*/

   display : flex;
   flex-direction : row ;
   justify-content : space-around;
   flex-flow : wrap;
}

.box {
    width: 20%; 
    height: 200px; 
    margin: 20px; 
    background: #D3D3D3;
    box-sizing: border-box;
    border: 3px solid; 
    font-size: 10px; 

}

#guess {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
}

img{
    border-radius: 120%;
}

[v-cloak] {
    display: none
}
